*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: jura;
    src: url(../media/fonts/Jura-VariableFont_wght.ttf);
}

body{
    background-color: #1E1E1E;
    max-width: 100vw;
}

.popups{
    width: 300px;
    position: absolute;
}

#main-screen{
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

}

#xicon{
    animation: poppng 2s
}

@keyframes popping{

    0%{
        width: 0px;
    }

    100%{
        width: 300px;
    }
}

p{
    font-family: jura;
}

#pagetitle{
    color: white;
    font-size: 60px;
    background-color: #006E2F;
    width: 600px;
    text-align: center;
    align-items: center;
    padding: 20px 100px;
    margin-top: 1%;
    border-radius: 100px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabsflex{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
   

}

.tabs{
    color: #0F1F11;
    background-color: #9AF7A8;
    margin: 20px;
    width: 300px;
    text-align: center;
    padding: 20px 30px;
    border: #727970 solid 5px;
    font-family: jura;
    
}


.tabs:hover {
    background-color: #516351;
    color: #ffffff;
}

.slidedownflex{
    
    width: 100vw;
  
    align-items: center;
    margin-top: -40px;
   
    

}

.slides{
    color: #ffffff;
    background-color: #39656D;
    margin: 20px;
    width: 310px;
    padding: 20px 30px;
    height: 300px;
    font-family: jura;
    
}

#statsbutton{
    color: white;
    background-color: #006E2F;
    filter: drop-shadow(5px 5px 1px black);
    border: none;
    font-family: jura;
    padding: 10px 30px;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-top: 15%;
    width: fit-content;
    z-index: inherit;
}

#slide1{
    position: absolute;
    left: 11.5%;
    top: 220px;
    height: fit-content;
}

#tab1{
    position: absolute;
    left: 11.5vw;
    top: 142px;
}

#slide2{
    position: absolute;
    left: 35%;
    top: 220px;
    height: fit-content;
    width: 460px;
}

#tab2{
    position: absolute;
    left: 35%;
    top: 142px;
    width: 450px;
}

#slide3{
    position: absolute;
    left: 66.5%;
    top: 220px;
}

#tab3{
    position: absolute;
    left: 66.5%;
    top: 142px;
}


#statstitle{
    color: #001f24;
    margin-left: 650px;
    font-family: jura;
    position: absolute;
    top: 300px;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;

}

#statstext{
    color: white;
    margin-left: 650px;
    width: 500px;
    position: absolute;
    top: 370px;
    
}

.slidetitles{
    color: #64ffe8;
    font-weight: bolder;
    font-size: 20px;
}

.slidetitles:hover{
    color: #6f6f6f;
    font-weight: bolder;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(0, 191, 255);
}

.one{
    background-color: #006E2F;
}

#harassmenttitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#harassmenttext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#harassmentimg{
    position: absolute;
    width: 400px;
    top:600px;
    left: 7%;

}
#harassmentvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#harassmentvid{
    position: absolute;
    left: 69%;
    top: 360px;

}



#flamingtitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#flamingtext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#flamingimg{
    position: absolute;
    width: 500px;
    top:600px;
    left: 5%;

}
#flamingvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#flamingvid{
    position: absolute;
    left: 69%;
    top: 360px;

}


#doxingtitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#doxingtext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#doxingimg{
    position: absolute;
    width: 400px;
    top:600px;
    left: 7%;

}
#doxingvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#doxingvid{
    position: absolute;
    left: 69%;
    top: 360px;

}

#trollingtitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#trollingtext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#trollingimg{
    position: absolute;
    width: 450px;
    top:600px;
    left: 6%;

}
#trollingvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#trollingvid{
    position: absolute;
    left: 69%;
    top: 360px;

}


#impersonationtitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#impersonationtext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#impersonationimg{
    position: absolute;
    width: 500px;
    top:600px;
    left: 5%;

}
#impersonationvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#impersonationvid{
    position: absolute;
    left: 69%;
    top: 360px;

}

#exclusiontitle{
    position: absolute;
    top:300px;
    left: 3%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;
}
#exclusiontext{
    position: absolute;
    color: white;
    left: 4%;
    top: 360px;
    width: 400px;
}
#exclusionimg{
    position: absolute;
    width: 500px;
    top:600px;
    left: 5%;

}
#exclusionvidtitle{
    position: absolute;
    top:300px;
    left: 69%;
    color: #001f24;
    background-color: #bdeaf3;
    border-radius: 10px;
    padding: 2px 10px;


}
#exclusionvid{
    position: absolute;
    left: 69%;
    top: 360px;

}





#endit{
    background: linear-gradient(to right,#9AF7A8, #20acc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: scale(0%);
    


}



#impstats{
    color: #64ffe8;
    font-size: 21px;
}

#statimg1{
    width: 350px;
    position: absolute;
    left: 1200px;
    top: 300px;
}

#statimg2{
    width: 350px;
    position: absolute;
    left: 1200px;
    top: 590px;
}











#instagramicon{
    top: 15%;
    left: 30%;
    transform: rotate(-20deg);
    width: 300px;
    animation: pop3 1s;
}

#xicon{
    top: 55%;
    left: 60%;
    transform: rotate(23deg);
    width: 300px;
    animation: pop3 1s;
}


#facebookicon{
    top: 45%;
    left: 1%;
    transform: rotate(15deg);
    width: 250px;
    animation: pop7 1s;
}

#text1{
    top: 35%;
    left: 71%;
    transform: rotate(-5deg);
    width: 400px;
    animation: pop5 1s;
}
#text2{
    top: 4%;
    left: 3%;
    transform: rotate(0deg);
    width: 300px;
    animation: pop3 1s;
}

#text3{
    top: 45%;
    left: 23%;
    transform: rotate(10deg);
    width: 600px;
    animation: pop4 1s;
}

#text4{
    top: 75%;
    left: 15%;
    transform: rotate(-20deg);
    width: 500px;
    animation: pop2 1s;
}

#tweet2{
    top: 2%;
    left: 65%;
    transform: rotate(3deg);
    width: 500px;
    animation: pop2 1s;
}

#tweet1{
    top: 71%;
    left: 58%;
    transform: rotate(-15deg);
    width: 700px;
    animation: pop 1s;
}

#instadm1{
    top: 25%;
    left: 0%;
    transform: rotate(-5deg);
    width: 800px;
    animation: pop6 1s;
}

#instacomment1{
    top: 0%;
    left: 20%;
    transform: rotate(5deg);
    width: 700px;
    animation: pop 1s;
}



.growStuff{
    animation: grow 2s;
    animation-fill-mode: forwards;
}



#xicon:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#text1:hover{
    transform: scale(1.2);
}
#text2:hover{
    transform: scale(1.2);
}
#text3:hover{
    transform: scale(1.2);
}
#text4:hover{
    transform: scale(1.2);
}
#instagramicon:hover{
    transform: scale(1.2);
}
#instadm1:hover{
    transform: scale(1.2);
}
#instacomment1:hover{
    transform: scale(1.2);
}
#tweet1:hover{
    transform: scale(1.2);
}
#tweet2:hover{
    transform: scale(1.2);
}
#facebookicon:hover{
    transform: scale(1.2);
}



@keyframes pop{
    0%{ 
        width: 0px
    }

    100%{
        width: 700px;
    }
}

@keyframes pop2{
    0%{ 
        width: 0px
    }

    100%{
        width: 500px;
    }
}

@keyframes pop3{
    0%{ 
        width: 0px
    }

    100%{
        width: 300px;
    }
}

@keyframes pop4{
    0%{ 
        width: 0px
    }

    100%{
        width: 600px;
    }
}

@keyframes pop5{
    0%{ 
        width: 0px
    }

    100%{
        width: 400px;
    }
}

@keyframes pop6{
    0%{ 
        width: 0px
    }

    100%{
        width: 800px;
    }
}

@keyframes pop7{
    0%{ 
        width: 0px
    }

    100%{
        width: 250px;
    }
}


@keyframes grow{
    0%{
        transform: scale(0%);

    }

    100%{
        transform: scale(200%);
    }
}